## Dépendances et Cache PHP
/vendor
/.phpunit.cache
.phpunit.result.cache
/storage/*.key
/storage/pail
/auth.json # Fichier de connexion Composer

## Fichiers de Configuration Sensibles
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml

## Dépendances et Cache JS/Frontend
/node_modules
npm-debug.log
yarn-error.log

## Fichiers de Build Web (Laravel Mix/Vite)
/public/build
/public/hot
/public/storage

## Fichiers IDE/Système (macOS et Éditeurs)
.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed

## Fichiers de Cache Divers
.phpactor.json